$primary-text-color: #212121;
$secondary-text-color: #757575;
$color-text-footer: #ffffff99;

$main-white-color: #ffffff;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #2f303a;
$bg-social-links: #ffffff1a;

$accent-color: #2196f3;
$border-header: #ececec;
$input-footer-border: #ffffff4d;
$icon-color: #afb1b8;
$hover-button: #188ce8;
$backdrop: #00000033;
$close-button: #0000001a;
$border-modal: #21212133;
$wrapper-activities: #2f303acc;
$overlay-cards: #2196f3e6;
$border-cards: #eeeeee;
