.footer {
  background-color: $hero-bg-color;

  padding-top: 60px;
  padding-bottom: 60px;

  &__content {
    @include for-phone-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include for-tablet-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }

    @include for-desktop {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  &__business-card {
    @include for-phone-up {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 60px;
    }

    @include for-tablet-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include for-desktop {
      display: flex;
      flex-direction: column;
    }
  }

  &__social-container {
    @include for-phone-up {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 60px;
    }
    @include for-tablet-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include for-desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-white-color;

    margin-bottom: 20px;

    @include for-phone-up {
      text-align: center;
    }

    @include for-tablet-up {
      text-align: center;
    }
  }
}
