$hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.hero {
  background-color: $hero-bg-color;

  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: auto;

  @include for-phone-up {
    background-image: $hero-gradient, url(../images/main/hero-mobile.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/main/hero-mobile@x2.jpg);
    }
  }

  @include for-tablet-up {
    background-image: $hero-gradient, url(../images/main/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/main/hero-tablet@x2.jpg);
    }
  }
  @include for-desktop {
    background-image: $hero-gradient, url(../images/main/hero-bgd.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: $hero-gradient, url(../images/main/hero-desktop@x2.jpg);
    }
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    color: $main-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;

    @include for-desktop {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
