.specialty-list {
  @include for-phone-up {
    display: block;
    align-items: center;
    padding-left: 0;
  }

  @include for-tablet-up {
    @include wrap-30;
  }
  @include for-desktop {
    display: flex;
  }

  &__icon-container {
    @include flex-center-center;

    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background: $secondary-bg-color;

    @include for-phone-up {
      width: 100%;
    }

    @include for-desktop {
      width: 270px;
    }
  }
  &__item {
    @include for-tablet-up {
      @include flex-basisX2;
    }
  }
  &__item:not(:last-child) {
    @include for-desktop {
      margin-right: 30px;
    }
  }
  &__title {
    color: $primary-text-color;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
