.subscribe-form {
  @include for-phone-up {
    @include flex-column-center;
    width: 100%;
  }

  @include for-tablet-up {
    @include flex-column-center;
    width: 450px;
  }

  @include for-desktop {
    display: flex;
  }

  &__input-container {
    @include for-phone-up {
      width: 100%;
      margin-bottom: 20px;
    }

    @include for-tablet-up {
      width: 450px;
      margin-bottom: 20px;
    }
    @include for-desktop {
      display: flex;
      flex-direction: column;
      margin-right: 12px;
    }
  }
  &__email-input {
    border: 1px solid $input-footer-border;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    padding: 15px 16px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: $color-text-footer;

    @include for-phone-up {
      width: inherit;
    }

    @include for-tablet-up {
      width: inherit;
    }

    @include for-desktop {
      width: 358px;
      height: 50px;
    }
  }
  &__email-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: $color-text-footer;
  }
  &__button-container {
    display: flex;
    align-items: flex-end;
  }
  &__button {
    @include flex-center-center;
  }
}
.submit-icon {
  margin-left: 12px;
  fill: currentColor;
}
