@import "../utils/breakpoints";

.team {
  background-color: $secondary-bg-color;

  &__list {
    display: block;

    @include for-tablet-up {
      @include wrap-30;
    }
    @include for-desktop {
      display: flex;
    }
  }

  &__item {
    background-color: $main-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include for-phone-up {
      margin-bottom: 30px;
    }

    @include for-tablet-up {
      @include flex-basisX2;
    }
  }
  &__item:not(:last-child) {
    @include for-desktop {
      margin-right: 30px;
    }
  }

  .team__img {
    width: 100%;
  }
  &__text {
    padding-top: 30px;
  }
  &__member {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__occupation {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 0;
  }
  &__social {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 24px;

    @include for-tablet-up {
    }
    @include for-desktop {
      padding: 16px 32px 30px;
    }
  }
}
